<h4> Cloudgration Cloud Management Tool </h4>
</br>
  <% if current_user.admin? %>
  <%= link_to "Admin Section", admin_users_path %>
  <% end %>
</br>
</br>
  <%= link_to "Your Information", user_path(current_user.id) %></br></br>
  <%= link_to "Your Deployments", user_deployments_path(current_user.id) %>
</br>
<hr>
