.new_user {
  display: inline-block;
  text-align: center;
}

div.radios {
  padding: 15px 25px 15px 25px;
  margin-bottom: 15px;
  font-family: arial,Verdana,Geneva,sans-serif;
  font-size: 14px;
  font-weight: bold;
}

div.radios input {
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 30px;
}
